@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.head {
  padding: 0 150px;
  background-color: #1F2937;
}
.head .header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #F0FAF8;
  padding: 10px 0;
  margin-bottom: 90px;

}

.header ul{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.hero {
  display: flex;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.hero .container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  margin-right: 80px;
}

.hero img {
  height: auto;
  width: 400px;
  flex-shrink: 1;
}

a , .hero-secondary-text{
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero-main-text {
  color: #F9FAF8;
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-secondary-text {
  padding-bottom: 25px;
}

button {
  border-radius: 8px;
  padding: 8px 25px;
  background-color: #3882F6;
  border: 0;
  font-size: 18px;
  color: #F9FAF8;
  font-weight: 600;
}



.information {
  text-align: center;
  padding-top: 50px;
}

.information .header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin-bottom: 50px;
}

.information .text {
  font-size: 18px;
  color: #495668;
  margin-top: 5px;
}

.information .container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.info img {
  height: 120px;
  width: auto;
  border-radius: 12px;
}

